@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;600&family=Yellowtail&display=swap');
@import "reset.css";

body{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif; height: 1200vh;
    color: white;
    overflow-y: hidden; overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-position: calc(100% - 50%) 0px; 
}

.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
   padding-bottom: 10px;
}

#greeting{
    font-size: 30px;
    line-height: 120%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}

#clock{
    margin: 0px 0px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-size: 100px;
    line-height: 120%;
}

#login-form{
    position: relative;
    align-items: center;
    margin-top: 20px;
    z-index: 10;
}

#weather {
    position: fixed;
    top:15px;
    right: 20px;
}

.login-name{
    font-size: 18px;
    padding-left: 20px;
    width: 250px;
    height: 34px;
    border: 0px;
    border-radius: 16px;
}

.login-btn {
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 3px;
    color: white;
    top: 3px;
    right: 3px;
    border: 0px;
    width:62px;
    height: 30px;
    border-radius: 15px;
    background-color: cadetblue;
}

#quotes {
    position: fixed;
    bottom: 20px;
}

.hidden {
    display: none;
}

.todoPosition {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: end;
}

.todoPosition > div {
    background-color: rgba(39, 39, 39, 0.541);
    width: 300px;
    padding: 10px 10px 5px 10px;
    margin: 0px 20px 60px 0px;
    border-radius: 15px;
}


#todo-form {
    margin-top: 10px;
}

#todo-form input {
    width: 98%;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-bottom: 1px solid rgba(120,120,120,10);
    color: white;
    font-size: 16px;
}

#todo-form input::placeholder {
    color:rgba(250, 250, 250, 0.7);
    text-align: center;
}

#todo-list {
    margin-top: 13px;
}

#todo-list li{
    margin-bottom: 8px;
}

#todo-list button {
    color:white;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}

.divSpace {
    width: 100%;
}
.divSpace li{
    display: flex;
    justify-content: space-between;
}

.wizTopRight {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items:flex-start;
}

.wizTopRight > div {
    width: 100px;
    height: 80px;
    margin: 20px 20px 0px 0px;
}

.weatherText {
    position: absolute;
    font-size: 14px;
    top: 90px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}
.weatherIcon {
    display: flex;
    justify-content: center;
}

.fade-in {
    opacity: 0;
    transition: opacity 2s;
  }
  
.show {
    opacity: 1;
}